.imkoniyatlars{
    margin-top: 50px;
    .imkoniyatlars_top{
        padding-top: 20px;
        display: none;
        align-items: center;
        gap: 20px;
    }


        .imkoniyatlars_wrapper{
            display: flex;align-items: center;justify-content: center;
        }
        .imkoniyatlars_cards{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
            flex-direction:  column;
            
        }
    .imkoniyatlars_title{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width: 250px;
    }
    .card_imkoniyatlars{
        padding: 40px;
        width: 45%;
        height: 324px;
        background: #F5F5F5;
        border-radius: 8px;
        .imkoniyatlars_card-bottom{
            padding-top: 74px;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .imkoniyatlars_card-bottom-desc{
            width: 400px;
            color: #56585E;
        }
    }
}

@media (min-width:768px) {
    .imkoniyatlars{
        margin-top: 50px;
        .imkoniyatlars_top{
            padding-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
    
            .imkoniyatlars_wrapper{
                display: flex;align-items: center;justify-content: center;
            }
            .imkoniyatlars_cards{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin-top: 10px;
                flex-direction:  column;
                
            }
        .imkoniyatlars_title{
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            width: 250px;
        }
        .card_imkoniyatlars{
            padding: 40px;
            width: 45%;
            height: 324px;
            background: #F5F5F5;
            border-radius: 8px;
            .imkoniyatlars_card-bottom{
                padding-top: 74px;
                display: flex;
                align-items: center;
                gap: 4px;
            }
    
            .imkoniyatlars_card-bottom-desc{
                width: 400px;
                color: #56585E;
            }
        }
    }
}
@media (min-width:992px) {
    .imkoniyatlars{
        margin-top: 50px;
        .imkoniyatlars_top{
            padding-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
    
            .imkoniyatlars_wrapper{
                display: flex;align-items: center;justify-content: center;
            }
            .imkoniyatlars_cards{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin-top: 10px;
                flex-direction:  row;
                
            }
        .imkoniyatlars_title{
            font-size: 40px;
            font-weight: 600;
            text-align: center;
            width: 333px;
        }
        .card_imkoniyatlars{
            padding: 40px;
            width: 45%;
            height: 324px;
            background: #F5F5F5;
            border-radius: 8px;
            .imkoniyatlars_card-bottom{
                padding-top: 74px;
                display: flex;
                align-items: center;
                gap: 4px;
            }
    
            .imkoniyatlars_card-bottom-desc{
                width: 400px;
                color: #56585E;
            }
        }
    }
}