.imkoniyatlarf{
.imkoniyatlarf_top{
    padding-top: 20px;
    display: none;
    align-items: center;
    gap: 20px;
}
.imkoniyatlarf-wrapper{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imkoniyatlarf-title{
font-size: 20px;
font-weight: 600;
}

.cards_imkoniyatlarf{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    .card_imkoniyatlarf-top{
        margin-bottom: 20px;
        width: 72px;
        height: 72px;
        background-color: #F5F5F5;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_imkoniyatlarf{
        margin-top: 123px;
        border-bottom: 1px solid #CCCCCC;
        width: 432px;
        height: 161px;
        .card_imkoniyatlarf-desc{
            padding-right: 38px;
            font-size: 16px;
            font-weight: 400;
            color: #2E303899;
        }
    }
    
    
}
}

@media (min-width:768px) {
    .imkoniyatlarf{
        .imkoniyatlarf_top{
            padding-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .imkoniyatlarf-wrapper{
            padding-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .imkoniyatlarf-title{
        font-size: 50px;
        font-weight: 600;
        }
        
        .cards_imkoniyatlarf{
            padding-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 50px;
        
            .card_imkoniyatlarf-top{
                margin-bottom: 20px;
                width: 72px;
                height: 72px;
                background-color: #F5F5F5;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .card_imkoniyatlarf{
                margin-top: 123px;
                border-bottom: 1px solid #CCCCCC;
                width: 350px;
                height: 161px;
                .card_imkoniyatlarf-desc{
                    padding-right: 38px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #2E303899;
                }
            }
            
            
        }
        }
}

@media (min-width:992px) {
    .imkoniyatlarf{
        .imkoniyatlarf_top{
            padding-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .imkoniyatlarf-wrapper{
            padding-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .imkoniyatlarf-title{
        font-size: 20px;
        font-weight: 600;
        }
        
        .cards_imkoniyatlarf{
            padding-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 123px;
        
            .card_imkoniyatlarf-top{
                margin-bottom: 20px;
                width: 72px;
                height: 72px;
                background-color: #F5F5F5;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .card_imkoniyatlarf{
                margin-top: 123px;
                border-bottom: 1px solid #CCCCCC;
                width: 350px;
                height: 161px;
                .card_imkoniyatlarf-desc{
                    padding-right: 38px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #2E303899;
                }
            }
            
            
        }
        }
}