.about-desc{
    .about-desc-wrapper{
        display: flex;
        align-items: center;
        justify-content: start;
        .about-desc-title{
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 32px;
   
        }
    }
    .about-desc-cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        .about-desc-card{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .about-desc-card_left-text{
            border-top: 1px solid #CCCCCC;
            padding-top: 10px;
            padding-bottom: 51px;
            font-size: 10px;
            font-weight: 400;
            font-family: Michroma;
            width: 400px;
        }
        .about-desc-card_left-btn{
            padding: 10px 18px;
            border-radius: 20px;
            border: 1px solid #CCCCCC;
            background-color: transparent;
        }
        
    }
}

@media (min-with:768px) {
    .about-desc{
        .about-desc-wrapper{
            display: flex;
            align-items: center;
            justify-content: start;
            .about-desc-title{
                font-size: 28px;
                font-weight: 600;
                padding-bottom: 32px;
       
            }
        }
        .about-desc-cards-wrapper{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 20px;
            .about-desc-card{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .about-desc-card_left-text{
                border-top: 1px solid #CCCCCC;
                padding-top: 10px;
                padding-bottom: 51px;
                font-size: 16px;
                font-weight: 400;
                font-family: Michroma;
                width: 48x0px;
            }
            .about-desc-card_left-btn{
                padding: 10px 18px;
                border-radius: 20px;
                border: 1px solid #CCCCCC;
                background-color: transparent;
            }
            
        }
    } 
}
@media (min-with:992px) {
    .about-desc{
        .about-desc-wrapper{
            display: flex;
            align-items: center;
            justify-content: start;
            .about-desc-title{
                font-size: 32px;
                font-weight: 600;
                padding-bottom: 32px;
       
            }
        }
        .about-desc-cards-wrapper{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 20px;
            .about-desc-card{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .about-desc-card_left-text{
                border-top: 1px solid #CCCCCC;
                padding-top: 10px;
                padding-bottom: 51px;
                font-size: 16px;
                font-weight: 400;
                font-family: Michroma;
                width: 780px;
            }
            .about-desc-card_left-btn{
                padding: 10px 18px;
                border-radius: 20px;
                border: 1px solid #CCCCCC;
                background-color: transparent;
            }
            
        }
    } 
}